<footer>
    <div>
        <a href="https://fr.linkedin.com/in/bastien-clement" target="_blank">
            <img src="/assets/images/linkedin.svg" alt="LinkedIn" width="25">
        </a>
        <a href="https://www.instagram.com/bc_lechatgraphique/" target="_blank">
            <img src="/assets/images/instagram.svg" alt="Instagram" width="25">
        </a>
        <a href="https://github.com/lechatgraphique" target="_blank">
            <img src="/assets/images/github.svg" alt="Github" width="25">
        </a>
    </div>
    <div>© 2019 RocketDev inc. by Bastien CLEMENT</div>
</footer>