<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ post.title }}{% else %}{{ site.title }} {% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" rel="stylesheet"> 
    <script async defer src="https://buttons.github.io/buttons.js"></script> 
</head>