<section class="newsletter">
    <h2>Newsletter</h2>
    <p>
        Soyez informé quand un nouvel article est posté sur le blog.<br>
        <strong>Désabonnez-vous</strong> quand vous le souhaitez.
    </p>
    <form class="newsletter-form" action="" method="post">
        <input class="email" type="email" name="email" id="bd-email" placeholder="Votre adresse email" required>
        <input type="hidden" value="1" name="embed">
        <input type="submit" value="S'abonner">
    </form>
</section>

