.post {
    h1, h3, h4, h5, h6 {
        font-weight: 400;
        margin-bottom: 1rem;
        color: $text-primary;
    }
    h1 {
        line-height: 2.8rem;
    }

    p {
        color: $text-primary;
    }
    
    hr {
        margin: 0;
        height: 1px;
        background-color: $text-primary;
        border: 0;
    }
    figure > img {
        display: block; 
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .thumb {
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
     
    blockquote {
        color: $text-white;
        border-left: 4px solid $text-primary;
        padding-left: 15px;
        font-style: italic; 
    }
    
    blockquote > :last-child {
        margin-bottom: 0; 
    }
     
    pre, code {
        border-radius: 2px;

        background-color: $code;
        color: $text-white;
    }
     
    code {
        padding: 3px 5px; 
    }
     
    pre {
        padding: 8px 12px;
        overflow-x: auto; 
    }
    
    pre > code {
        border: 0;
        padding-right: 0;
        padding-left: 0; 
    }
}